@charset "utf-8";
table{
    border-spacing: 0;
    border-collapse: collapse;
}
td,th {
    padding: 0;
}
.table{
    width:100%;
    border:1px solid #ddd;
    margin:10px 0;
}
.table thead{
    background-color: RGB(236,249,234);
}
table.border tr{
    border-bottom: 1px solid #ddd;
}
.table th,.table td{
    height: 40px;
    line-height: 40px;
}
.table.hover tr:hover{
    background-color: RGB(236,249,234);
}
.align{
    text-align: center;
}

.btn{
    float: right;
    margin-right: 50px;
}