/* CSS Document */
body{background-color:#FFF;}
* { margin:0px; padding:0px;}
a{ text-decoration:none;}
#wrapper{ width:800px; margin:0px auto;}
#header{ width:100%; height:36px; margin-top:40px; border-radius:6px; }
	#hleft{ width:192px; height:36px; background:url(../images/email_03.jpg) no-repeat; float:left;}
	#hright{ width:602px; height:36px; background:rgba(234,243,255,0.4); float:right; margin-left:6px; margin-top:0px;}
		
		#hright a { font-size:15px; color:#00C; float:right;}
        #hright ul{ list-style:none;}
		#hrightli{ height:36px; width:250px; float:right; margin:0px;}
		#hrightli li { float:left; margin-left:1px; margin-top:5px;}
#nav{ width:800px; height:345px; margin-top:17px;}
#left{ width:416px; height:345px; float:left; }
	#le1{ width:146px; height:244px; background:url(../images/email_05.jpg) no-repeat; float:left;}
	#le2{ width:235px; height:239px; float:left; margin-top:0px; margin-left:30px;}
	#le3{ width:411px; height:105px; float:left; margin-left:0px; margin-top:0px; font-size:12px; color:#999;}
	#le3 li{ line-height:17px; font-size:13px;}
#right{ width:370px; height:345px; float:right; border:2px solid #E4C3AC; border-radius:6px; position:relative; background:rgba(234,243,255,0.4); }
h2{ color:#00C; font-size:20px; font-family:"黑体"; margin-left:30px;}
	#rup1{ width:290px; height:33px; float:left; margin-left:20px; margin-top:25px;}
		#text1{ width:165px; height:33px; float:left; }
		#text1 input{width:165px;height:33px; color:black; border:1px solid #848484; border-radius:6px; }
		#text2{ width:110px; height:33px; float:right; }
		#text2 input{width:110px;height:33px; color:black; border:1px solid #848484; border-radius:6px; }
	#rup2 input{ width:290px;height:33px;color:black; border:1px solid #848484; border-radius:6px; font-size:16px;}
	#rup2{ width:290px; height:33px; float:left; margin-left:20px; margin-top:8px; background:#0FC;}
		#rup2 input{ width:290px;height:33px;color:black; border:1px solid #848484; border-radius:6px; font-size:16px;}
	#rup3{ width:290px; height:20px; float:left; margin-left:20px; margin-top:8px;}
	#login{ width:80px; height:36px; float:left; margin-top:15px; margin-left:20px;}
	#login input{width:90px;height:36px; background-color:green; border:1px solid #0C0; border-radius:6px; color:#FFF; font-size:16px;}
		#a1{ font-size:12px; float:left;}
		#a2{ font-size:12px; float:right;}	
	#rup4{ width:auto; height:100px;position:absolute; top:240px; left:20px; font-size:12px;}
#footer{ width:800px; height:60px; margin:26px auto auto auto; }
	#up{ width:800px; height:35px; margin:auto; text-align:center; background:rgba(234,243,255,1);}
	#up2{ width:270px; height:35px; margin:auto;}
			#footer li{ float:left; margin-left:1px; margin-top:5px;}
		#footer a{ font-size:13px; color:#00C;  }
		#footer ul{ list-style:none;}
	#do{ font-size:12px; color:#999; text-align:center;}

