<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>单选按钮</title>
	<script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="radio" id="one" value="One" v-model="picked">
		<label for="one">One</label>
		<br>
		<input type="radio" id="two" value="Two" v-model="picked">
		<label for="two">Two</label>
		<br>
		<span>Picked:{{picked}}</span>
	</div>
	<script type="text/javascript">
		new Vue({
			el:'#app',
			data:{
				picked:''
			}
		})
	</script>
</body>
</html>