{{subject1}}
<div class="editingarea">
    <div class="c_flex"><span class="c_flexible"></span></div>
    <div class="Topictitle">添加题目</div>
    <div class="c_editview">
        <div class="Problem">
            <div class="Attributetit">题目属性
              <!-- 题目类型-->
                <select remove-sub ng-model="subject1.typeId" ng-options="type.id as type.realName for type in types">
                </select>
                <!--题目难度-->
                <select   ng-model="subject1.levelId" ng-options="level.id as level.realName for level in levels"  ></select>
                <!--   根据题目的方向-->
                <select ng-model="subject1.depId" ng-options="dep.id as dep.name for dep in deps"></select>
                <!--   根据题目的知识点-->
                <select ng-model="subject1.topicId" ng-options="topic.id as topic.title for topic in topics |findTopic:subject1.depId"></select>
            </div>

        </div>
        <div class="Problem">
            <div class="Attributetit">题目题干</div>
            <div class="Problemcontent">
                <textarea cols="60" rows="5" ng-model="subject1.exem"></textarea>
            </div>
        </div>
     <!--这是单选-->
        <div class="Answeroptions" ng-show="subject1.typeId==1?true:false">
        <div class="Attributetit">答案选项<em>(通过勾选每个选项下面的框难吃时间点咳嗽打开)</em></div>
        <div class="c_condition"><span class="icon_add"><em class="icon_r" style="float: left">添加选项</em></span></div>
        <div class="Answercontent">
            <div class="Answerpart">
                <div class="Answerpart_left">
                    <p>A</p><span><input type="radio"  select-answer  name="radio" value="0" /></span>
                </div>
                <div class="Answerpart_right">
                    <textarea cols="60" rows="4" ng-model="subject1.choiceContent[0]"></textarea>
                </div>
                <div class="clear"></div>
            </div>
            <div class="Answerpart">
                <div class="Answerpart_left">
                    <p>B</p><span><input type="radio" select-answer  name="radio" value="1"/></span>
                </div>
                <div class="Answerpart_right">
                    <textarea cols="60" rows="4" ng-model="subject1.choiceContent[1]"></textarea>
                </div>
                <div class="clear"></div>
            </div>
            <div class="Answerpart">
                <div class="Answerpart_left">
                    <p>C</p><span><input type="radio" select-answer name="radio" value="2"/></span>
                </div>
                <div class="Answerpart_right">
                    <textarea cols="60" rows="4" ng-model="subject1.choiceContent[2]" ></textarea>
                </div>
                <div class="clear"></div>
            </div>
            <div class="Answerpart">
                <div class="Answerpart_left">
                    <p>D</p><span><input type="radio"  select-answer name="radio" value="3"/></span>
                </div>
                <div class="Answerpart_right">
                    <textarea cols="60" rows="4" ng-model="subject1.choiceContent[3]"></textarea>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
       <!-- 以下是多选-->
        <div class="Answeroptions" ng-show="subject1.typeId==2?true:false">
            <div class="Attributetit">答案选项<em>(通过勾选每个选项下面的框难吃时间点咳嗽打开)</em></div>
            <div class="c_condition"><span class="icon_add"><em class="icon_r" style="float: left">添加选项</em></span></div>
            <div class="Answercontent">
                <div class="Answerpart">
                    <div class="Answerpart_left">
                        <p>A</p><span><input type="checkbox"
                                              select-answer
                                             value="0" name="check"  /></span>
                    </div>
                    <div class="Answerpart_right">
                        <textarea cols="60" rows="4"   ng-model="subject1.choiceContent[0]"></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="Answerpart">
                    <div class="Answerpart_left">
                        <p>B</p><span><input type="checkbox"
                                             value="1"
                                             select-answer
                                             name="check" /></span>
                    </div>
                    <div class="Answerpart_right">
                        <textarea cols="60" rows="4"  ng-model="subject1.choiceContent[1]"></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="Answerpart">
                    <div class="Answerpart_left">
                        <p>C</p><span><input type="checkbox"
                                             value="2"
                                             select-answer
                                             name="check"  /></span>
                    </div>
                    <div class="Answerpart_right">
                        <textarea cols="60" rows="4"  ng-model="subject1.choiceContent[2]"></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="Answerpart">
                    <div class="Answerpart_left">
                        <p>D</p><span><input type="checkbox"
                                             value="3"
                                             select-answer
                                             name="check" /></span>
                    </div>
                    <div class="Answerpart_right">
                        <textarea cols="60" rows="4"  ng-model="subject1.choiceContent[3]"></textarea>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
       <!--简答的-->
        <div class="Problem" ng-show="subject1.typeId==3?true:false">
            <div class="Attributetit">答案</div>
            <div class="Problemcontent">
                <textarea cols="60" rows="5" ng-model="subject1.answer"></textarea>
            </div>
        </div>

        <div class="Problem">
            <div class="Attributetit">答案解析</div>
            <div class="Problemcontent">
                <textarea cols="60" rows="5" ng-model="subject1.anyl"></textarea>

            </div>
        </div>
        <div class="btn_left">
            <span class="btnL">
                <em class="btnR" ng-click="save()"> 保存并继续</em>
            </span>
            <span class="btnL">
            <em class="btnR" ng-click="saveAndBack()">保存并关闭</em>
            </span>
        </div>
    </div>
</div>
