params:{{params}}
<div class="editingarea">
    <div class="c_flex"><span class="c_flexible"></span></div>
    <div class="c_editview">
        <div class="c_condition">
            <span><select><option>题干</option></select></span>
            <span class="pl5 " ><input type="text"></span>
            <span class="pl15 pr15 btn_gray ">查找</span>

            <span class="icon_add"><em class="icon_r">
              <!--  点击单个添加题目相应的模本添加进来 通过路由检测到路径的变化-->
               <a href="#/addSubject">单个添加题目</a>
            </em></span>
        </div>
        <div class="divtable">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tablea">
                <tr>
                    <td align="center">类型</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/allSubject/a/0/b/{{params.b}}/c/{{params.c}}/d/{{params.d}}" class="{{params.a==0?'active3':''}}">全部</a>
                            <a href="#/allSubject/a/{{type.id}}/b/{{params.b}}/c/{{params.c}}/d/{{params.d}}"
                                 class="{{params.a==type.id?'active3':''}}"
                               ng-repeat="type in types">{{type.realName}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">等级</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/allSubject/a/{{params.a}}/b/0/c/{{params.c}}/d/{{params.d}}" class="active3">全部</a>
                            <a href="#/allSubject/a/{{params.a}}/b/{{level.id}}/c/{{params.c}}/d/{{params.d}}" ng-repeat="level in levels">{{level.realName}}</a>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">方向</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/allSubject/a/{{params.a}}/b/{{params.b}}/c/0/d/{{params.d}}" class="active3">全部</a>
                            <a href="#/allSubject/a/{{params.a}}/b/{{params.b}}/c/{{dep.id}}/d/{{params.d}}" ng-repeat="dep in deps">{{dep.name}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">知识点</td>
                    <td align="left">
                        <div class="chose">
                            <a href="#/allSubject/a/{{params.a}}/b/{{params.b}}/c/{{params.c}}/d/0" class="active3">全部</a>
                            <a href="#/allSubject/a/{{params.a}}/b/{{params.b}}/c/{{params.c}}/d/{{topic.id}}" ng-repeat="topic in topics">{{topic.title}}</a>

                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="Catalog">

            <div class="Catalog_right">
                <div class="Catalogtitle">
                    总计<em>15552</em>道题&nbsp;&nbsp;
                    提示：单击体面可显示答案和解析&nbsp;&nbsp;
                    <input type="checkbox" ng-model="isShow" />
                    <b>显示答案和解析</b>&nbsp;&nbsp;
                    <div><i>1</i><a href="#" class="pageone">前</a><a href="#" class="pagetwo">后</a></div></div>
                <div class="Catalog_rightnei" ng-repeat="subject in subjects">
                    <div class="Catalogtitwo">
                        <b>题号：</b>{{subject.id}}&nbsp;&nbsp;
                        题型：{{subject.subjectType.realName}}&nbsp;&nbsp;
                        难度：{{subject.subjectLevel.realName}}&nbsp;&nbsp;
                        上传人：{{subject.user}}&nbsp;&nbsp;
                        来源：{{subject.examPaper}}&nbsp;&nbsp;
                        上传时间:{{subject.uploadTime}}&nbsp;&nbsp;
                        组卷次数：<em>0</em>
                    </div>
                    <div class="Catalogcontent">
                        <div class="Catalogcontentup">
                           <b>{{$index+1}}.{{subject.stem}}</b>
                            <ul>
                                <li ng-repeat="choice in subject.choices">
                                    {{choice.no}}
                                   .{{choice.content}}
                                </li>
                            </ul>
                        </div>
                        <div ng-show="isShow">
                          <b>答案：</b>  {{subject.answer}}
                        </div>
                        <div class="Catalogcontentdown">
                            <a href="#">审核通过</a>
                            <a href="#">审核不通过</a>
                            <a href="#">删除题目</a></div>
                           <a href="#">添加题目到试卷</a>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>